@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
}

/************************************* FIRST SECTION - HEADER *************************************/

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--head-color);
  width: 100%;
  height: 8rem;
}

.menu-btn {
  position: absolute;
  width: 2.4rem;
  height: 1.691rem;
  top: 3.1rem;
  left: 2.4rem;
  cursor: pointer;
}

.rev-logo {
  margin-left: 2rem;
  width: 10rem;
  height: 5rem;
}

/************************************* SEARCH SECTION *************************************/

.search-container {
  display: grid;
  place-items: center;
  margin-top: 3.6rem;
  text-align: center;
}

.big-txt-container {
  display: flex;
  justify-content: center;
  max-width: 31.6rem;
  margin-left: 1.3rem;
}

.big-txt {
  font-size: 2.8rem;
  color: var(--head-color);
  font-weight: 600;
  text-align: left;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  width: 34.3rem;
  height: 5.5rem;
  border-radius: 3rem;
  margin-top: 2.5rem;
}

.search-map-pin {
  position: absolute;
  margin-top: 2rem;
  margin-left: 1.3rem;
}

.inside-search-txt {
  font-size: 1.22rem;
  color: var(--head-color);
  font-weight: 500;
  margin-top: 2.1rem;
  margin-left: 3rem;
  opacity: 0.4;
}

.search-icon-background {
  display: flex;
  justify-content: center;
  background-color: var(--green-color);
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 3rem;
  margin-top: 0.7rem;
  margin-right: 0.7rem;
}

.search-icon {
  width: 1.912rem;
}

.house-img {
  width: 36rem;
  height: 21.8rem;
  margin-top: 3.6rem;
}

/************************************* LISTINGS SECTION *************************************/

.listings-container {
  margin: 0 auto;
  background-color: var(--white-color);
  margin-top: 3.6rem;
  width: 32.8rem;
  height: 37.6rem;
  text-align: center;
}

.listings-head-text {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: var(--head-color);
}

.listing-img-container {
  position: relative;
}

.listing-img {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.new-lbl {
  background-color: var(--newlabel-color);
  height: 1.822rem;
  width: 5.38rem;
  position: absolute;
  top: 1.475rem;
  left: 1.475rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lnew-lbl-text {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 430;
}

.man-image {
  border-radius: 5rem;
  height: 3.471rem;
  width: 3.471rem;
  position: absolute;
  bottom: 0.694rem;
  right: 0.694rem;
  box-shadow: 0rem 0rem 0.1rem;
}

.listing-desc {
  display: flex;
  justify-content: space-between;
}

.listing-left-side {
  text-align: left;
  margin-left: 2.083rem;
  margin-top: 1.098rem;
}

.listing-right-side {
  display: flex;
  margin-right: 1.283rem;
  gap: 0.477rem;
  align-items: center;
}

.property-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--head-color);
}

.property-location {
  font-size: 1.15rem;
  opacity: 0.5;
}

.listing-map-pin {
  height: 1rem;
}

.property-distance {
  font-size: 1rem;
  opacity: 0.4;
}

.listing-icons {
  display: flex;
  gap: 1rem;
  margin-left: 2.083rem;
  margin-top: 0.966rem;
  margin-bottom: 1.059rem;
}

.listing-horz-line {
  color: var(--light-color);
  opacity: 0.4;
}

.price-and-share {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 1.8rem;
  margin-left: 2.083rem;
  margin-top: 0.794rem;
  font-weight: 600;
  color: var(--head-color);
}

.heart-share-container {
  display: flex;
  margin-right: 1rem;
}

.share {
  height: 4rem;
}

.heart {
  height: 4rem;
  margin-right: -1.1rem;
}

.option-dots-container {
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  margin-top: 1.7rem;
}

.option-dot {
  background-color: var(--option-dots-color);
  width: 1rem;
  height: 1rem;
  border-radius: 3rem;
}

.option-dot:hover {
  background-color: var(--white-color);
  border: solid 0.1rem var(--green-color);
  border-radius: 3rem;
  box-shadow: inset 0 0 0 0.1rem var(--green-color);
}

/************************************* EVENTS SECTION *************************************/

.events-container {
  position: relative;
  display: grid;
  justify-content: center;
  margin-top: 3.1rem;
  background-color: var(--darker-white-background);
}

.events-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: var(--head-color);
}

.event-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  margin-bottom: 1.8rem;
  font-weight: 600;
  color: var(--head-color);
  opacity: 0.6;
}

.event-option:hover {
  color: var(--green-color);
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.event-img-container {
  position: relative;
}

.event-img {
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.event-date {
  position: absolute;
  top: 0;
  right: 1.4rem;
  width: 6.3rem;
  height: 5.7rem;
  background-color: var(--green-color);
  border-radius: 0.6rem;
  color: var(--white-color);
  font-weight: 400;
  font-size: 3.4rem;
  text-align: center;
}
.event-right-arrow,
.event-left-arrow {
  position: absolute;
  top: 59%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-color);
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  z-index: 10;
}

.event-right-arrow {
  right: 0.5rem;
}

.event-left-arrow {
  left: 0.5rem;
  transform: rotate(180deg);
}

.arr-left {
  margin-right: 0.25rem;
}
.arr-right {
  margin-right: 0.25rem;
}
.event-name-time {
  margin-left: 0.7rem;
  margin-top: 1.2rem;
}

.event-heading-txt {
  font-size: 1.6rem;
  font-weight: 400;
}

.event-desc {
  display: flex;
  justify-content: space-between;
}

.event-desc-txt {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.4;
}

.event-add-share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-add-img {
  border: 0.12rem solid var(--green-color);
  border-radius: 5rem;
  padding: 0.3rem;
  height: 2rem;
}

.event-share-img {
  height: 5rem;
}

.event-people {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 1.1rem;
}

.event-people-count {
  font-size: 1rem;
  color: var(--green-color);
  margin-left: 0.2rem;
}

/***************************** SEEMORE SECTION *****************************/

.reverifi-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.seemore {
  width: 30rem;
  height: 10rem;
  display: grid;
  justify-content: left;
  margin-left: 3rem;
}

.seemore-head-txt {
  font-size: 2.2rem;
  font-weight: 600;
}

.seemore-head-plus {
  color: var(--green-color);
  font-size: 2.2rem;
  font-weight: 600;
}

.seemore-desc {
  color: var(--head-color);
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.4;
  margin-top: 1.8rem;
}

.seemore-btn {
  height: 4rem;
  width: 11.7rem;
  border: 0 solid;
  background-color: var(--green-color);
  margin-top: 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
}

.service-item {
  display: grid;
  justify-items: center;
  font-size: 2rem;
  width: 10rem;
  text-align: center;
}

.rev-capabilities {
  margin-top: 3rem;
  display: grid;
  justify-content: center;
}

.rev-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 6rem;
  font-size: 3rem;
  row-gap: 3.6rem;
}
.icon-txt {
  margin-top: 1rem;
  font-weight: 500;
}

/***************************** EXPLORE SECTION *****************************/

.explore {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  margin-top: 7.2rem;
  position: relative;
  width: fit-content;
}

.explore-image-container {
  position: relative;
}

.explore-head-txt {
  margin-bottom: 1.8rem;
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
}

.explore-img {
  display: block;
  filter: brightness(0.5);
  position: relative;
}

.explore-name {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  position: absolute;
  bottom: 9rem;
  font-weight: 700;
  left: 4rem;
}

.explore-count {
  color: var(--green-color);
  font-size: 1.7rem;
  position: absolute;
  bottom: 5.9rem;
  font-weight: 700;
  left: 4.2rem;
}

.listings-word {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  position: absolute;
  font-weight: 300;
  left: 1.6rem;
}

.listing-dots-container {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  bottom: 1.7rem;
  left: 50%;
  transform: translateX(-50%);
}

.listing-dot {
  background-color: var(--white-color);
  width: 1rem;
  height: 1rem;
  border-radius: 3rem;
}

.listing-dot:hover {
  background: transparent;
  border: solid 0.1rem var(--green-color);
  border-radius: 3rem;
  box-shadow: inset 0 0 0 0.1rem var(--green-color);
}

/***************************** ADDRESS SECTION *****************************/

.address {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.address-pin-img {
  margin-top: 9.645rem;
  margin-bottom: 10.562rem;
}

.address-search-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  width: 34.3rem;
  height: 5.5rem;
  border-radius: 3rem;
  margin-top: 1.8rem;
}

.address-background {
  margin-top: 2rem;
  max-width: 36rem;
}

/***************************** REAL ESTATE PROMO SECTION *****************************/

.real-estate {
  background-color: var(--green-color);
  width: 100%;
  height: 14.6rem;
  text-align: center;
}

.real-estate-container {
  display: flex;
  justify-content: center;
}

.real-estate-txt {
  color: var(--white-color);
  font-size: 1.65rem;
  font-weight: 500;
  margin-top: 3rem;
}

.rev-logo-white {
  margin-top: 3rem;
}

.join-us-btn {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  width: 12rem;
  height: 3.8rem;
  background-color: var(--white-color);
  border: 0;
  border-radius: 5rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

.socialmedia {
  display: flex;
  justify-content: left;
  gap: 1.676rem;
  margin-left: 1.5rem;
  margin-top: 3.702rem;
}

/***************************** CONTACT US SECTION *****************************/

.contact-us {
  display: flex;
  margin-top: 3.7rem;
  flex-direction: column;
}

.contact-us-logo {
  margin-left: 1.5rem;
  width: 12rem;
  margin-bottom: 1.5rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-top: 1.3rem;
  font-size: 2.5rem;
}

.contact-img {
  margin-right: 0.4rem;
}

/***************************** HELPFUL LINKS SECTION *****************************/

.helpful {
  display: grid;
  margin-top: 3rem;
  margin-left: 1.5rem;
}

.helpful-word {
  font-size: 1.7rem;
  color: var(--green-color);
  margin-bottom: 2rem;
  font-weight: 400;
}

.helpful-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--head-color);
  opacity: 0.6;
  font-weight: 500;
  margin-top: 1.3rem;
}

/***************************** NEWSLETTER SECTION *****************************/

.newsletter {
  margin-top: 3.6rem;
  margin-left: 1.5rem;
  margin-bottom: 3.6rem;
}

.newsletter-head-txt {
  font-size: 2rem;
  color: var(--green-color);
  margin-bottom: 2rem;
  font-weight: 400;
}

.newsletter-btn-and-txt {
  display: flex;
  align-items: center;
}

.newsletter-desc-txt {
  font-size: 1.35rem;
  opacity: 0.6;
  font-weight: 500;
  margin-left: 1.5rem;
}

.subscribe-btn {
  margin-left: 1.2rem;
  width: 10rem;
  height: 3.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0 solid;
  border-radius: 5rem;
  background-color: var(--green-color);
  color: var(--white-color);
}

/***************************** FOOTER COPYRIGHT SECTION *****************************/

.copyright {
  background-color: var(--head-color);
  width: 100%;
  height: 6.6rem;
  display: flex;
}

.copyright-txt {
  color: var(--white-color);
  margin: auto;
  font-size: 1.1rem;
}

/***************************** DESKTOP TRANSFORMATION *****************************/
.desktop-header-labels {
  display: none;
}
.sign-in {
  display: none;
}
.desktop-listing1 {
  display: none;
}

@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .desktop-header-labels {
    display: flex;
    gap: 2rem;
    margin-left: 0;
  }
  .desktop-header-labels-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
  }

  .header-bar {
    justify-content: space-between;
  }

  .sign-in {
    display: flex;
    margin-right: 6rem;
  }
  .left-side {
    display: flex;
    align-items: center;
    gap: 2rem; /* space between logo and nav labels */
  }

  .search-container {
    display: flex;
    justify-content: center;

  }
  .desktop-listings,
  .desktop-listing1 {
    display: block;
  }
  .dekstop-listing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
  }
  .listings-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
