:root {
  --head-color: #222222;
  --green-color: #b2d235;
  --light-color: #d8d8d8;
  --white-color: #ffffff;
  --newlabel-color: #fe5d26;
  --option-dots-color: #d8d8d8;
  --darker-white-background: #fafafa;
}
